:root {
    --color-yellow: #FFE600;
    --color-black: #333333;
    --color-gray: #666666;
    --color-silver: #999999;
    --color-light-gray: #EEEEEE;
    --color-blue: #3483FA;

    --size-radius: 4px;
}

html {
    background-color: var(--color-light-gray);
    padding-bottom: 100px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.component {
    padding-left: 20px;
    padding-right: 20px;
}